.section-padre {    
    padding: 40px 0;
}

.section-imagen-main {
    text-align: center;
    width: 70%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black
}

.img-main {
    width: 70%;
    height: 300px;
    padding: 10px;
}

.section-padre-detalles {
    background-color: #E2E0E0;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black

}

.section-detalles {
    padding: 10px;
}

.section-comprar {
    position: relative;
    padding: 10px;
}

#nombre-producto,
#precio,
#descripcion,
#stock {
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
}

#comprar {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

#agregar-carrito {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: grey;
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {

    .section-padre {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .section-imagen-main {
        min-width: 400px;
        margin-right: 0;
        max-width: 460px;
        height: 460px;
    }

    .img-main {
        width: 400px;
        height: 400px;
        margin-top: 30px;
    }

    .section-padre-detalles {
        width: 40%;
        height: 460px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #comprar {
        width: 91%;
        top: 47px;
    }

    #agregar-carrito {
        display: block;
        width: 91%;
        top: 93px;
    }
}