.principal-detalle {    
    padding: 40px 0;
}

.section-padre-imagenes {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.section-imagenes {
    width: 20%;
}

.section-imagen-main {
    width: 80%;
    border: solid 1px black;
}

.imagen {
    border: solid 1px black;
}

.img-categ {
    display: flex;
    width: 100%;
    padding: 5px;
    /*box-sizing: border-box;          esta linea esta aplicada en el Css global*/
}

.img-main {
    width: 100%;
    padding: 10px;
}

.section-padre-detalles {
    background-color: #E2E0E0;
    width: 70%;
    margin: auto;

}

.section-detalles {
    padding: 10px;
}

.section-comprar {
    position: relative;
    padding: 10px;
}

#nombre-producto,
#precio,
#descripcion,
#stock {
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
}

#comprar {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

#agregar-carrito {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: grey;
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {

    .principal-detalle {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .section-padre-imagenes {
        min-width: 400px;
        margin-right: 0;
        max-width: 460px;
        width: 700px;
    }

    .section-padre-detalles {
        width: 40%;
        height: 288px;
        margin-left: 0;
    }

    #comprar {
        width: 91%;
        position: absolute;
        top: 47px;
    }

    #agregar-carrito {
        display: block;
        width: 91%;
        position: absolute;
        top: 93px;
    }
}