/* Para abajo se encuentran los estilos del Banner*/

.cont-banner {
    margin-bottom: -4px;
}

.banner {
    width: 100%;
    padding: 10px;
    background-color: #170B04;
}

/* Para abajo se encuentran los estilos de la sección categorías y destacados*/

.principal {
    width: 100%;
    /* background-color:#d9d9d9; */
}

.categorias,
.destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;    
}

.titulo-seccion {
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.titulo-seccion-destacados {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.categ-producto {
    margin: 20px 10px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px black;
}

.dest-producto {
    text-align: center;
    margin: 20px 10px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px black;
}

.categ-producto img {
    width: 100%;    
}

.dest-producto img {
    width: 120px;
    height: 120px;
}

.caja-descripcion {
    border-top: solid 2px #E2E0E0;
    padding: 10px;
}

.categ-producto a,
.dest-producto a {
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Para abajo se encuentra la primer Media Query*/

@media (min-width: 480px){
    .categ-producto {
        width: 40%;
    }

    .dest-producto {
        width: 40%;
    }

    .dest-producto img {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 768px) {

    /*.categorias {
        width: 60%;
    }*/

    .categ-producto {        
        width: 30%;
    }

    .dest-producto {
        width: 30%;
    }

    .dest-producto img {
        width: 180px;
        height: 180px;
    }
}

@media(min-width: 992px) {
    .principal {
        margin: auto;
    }
}

@media(min-width: 1200px) {
    .categorias {
        width: 100%;
    }

    .categ-producto {
        width: 15%;
    }

    .dest-producto {
        padding: 5px;
        width: 23%;
    }
}