.view {
    text-align: center;
    padding: 25px;
    margin-bottom: 10px;
}

.boxInfo{
    padding: 20px;
    border: 1px solid black;
    width: fit-content;
    margin: 0px auto 2rem auto;
    box-shadow: 0px 0px 2px 1px black;
}

.inputEmail, .inputPassword {
    padding: 5px 0 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;    
    width: 65%;
    text-align: center;
}

.inputAvatar{
    padding: 5px 0 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;    
    width: 80%;
    text-align: center;
}

.label {
    margin: 15px 0 7px 0;
    display: block;
}

.btn {
    margin-top: 20px;       
    width: 50%;
    height: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #0096d2;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px){     

    .inputEmail, .inputPassword {
        padding: 5px 0 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: lightgray;    
        width: 30%;
        text-align: center;
    }
    
    .inputAvatar{
        padding: 5px 0 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: lightgray;    
        width: 40%;
        text-align: center;
    }
    
    .label {
        margin: 15px 0 7px 0;
        display: block;
    }
    
    .btn {
        margin-top: 30px;       
        width: 30%;
        height: 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: #0096d2;
        color: white;
        cursor: pointer;
    }
}