<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/80d7b2a33b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detalle-producto.css">

    <title>Login</title>
</head>

<body>
    <header class="encabezado">
        <a class="enc-logo" href="/">
            <img class="logo" src="" alt="Logo-nexoBirrero">
        </a>

        <form action="#" class="enc-busqueda">
            <input class="search" title="search" type="text" id="search" name="search"
                placeholder="Busque su producto aquí">
            <button id="search" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="enc-navbar">
            <a class="enc-carrito" href="/carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <ul>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button">
                        Cuenta
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Configuración</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Ayúda</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main class="principal-detalle">

        <section class="section-padre-imagenes">

            <section class="section-imagenes">

                <div class="imagen">
                    <img class="img-categ" src="img/Categoria.jpg" alt="imagen producto">
                </div>

                <div class="imagen">
                    <img class="img-categ" src="img/Categoria.jpg" alt="imagen producto">
                </div>

                <div class="imagen">
                    <img class="img-categ" src="img/Categoria.jpg" alt="imagen producto">
                </div>

                <div class="imagen">
                    <img class="img-categ" src="img/Categoria.jpg" alt="imagen producto">
                </div>
            </section>

            <section class="section-imagen-main">

                <div class="imagenes">
                    <img class="img-main" src="img/Categoria.jpg" alt="imagen producto">
                </div>

            </section>

        </section>

        <section class="section-padre-detalles">

            <section class="section-detalles">

                <div id="nombre-producto">Cerveza Rubia</div>
                <div id="precio">$999</div>
                <div id="descripcion">Descripción</div>
                <div id="stock">10 disponibles</div>

            </section>

            <section class="section-comprar">
                <button id="comprar">Comprar</button>
                <button id="agregar-carrito">Agregar al carrito</button>
            </section>

        </section>

    </main>

    <footer class="pie">
        <section>
            <div class="pie-item">
                <a href="#">Contactos</a>
            </div>
            <div class="pie-item">
                <a href="#">Términos y condiciones</a>
            </div>
        </section>
        <section>
            <div class="pie-item">
                <a href="#">Sobre nosotros</a>
            </div>
            <div class="pie-item">
                <a href="#">Suscribirme para recibir noticias</a>
            </div>
        </section>
        <div class="copyright">
            <i class="fa-solid fa-copyright"></i>
            <h5>Copyrigth</h5>
        </div>        
    </footer>
</body>

</html>