<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/not-found.css">

    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1 class="numero">404</h1>
            <h3>Not Found</h3>
            <p>
                La ruta indicada no pudo ser encontrada.
            </p>
        </div>
    </main>
</body>
</html>