<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/80d7b2a33b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productos.css">

    <title>Productos</title>
</head>

<body>
    <header class="encabezado">
        <a class="enc-logo" href="/">
            <img class="logo" src="" alt="Logo-nexoBirrero">
        </a>

        <form action="#" class="enc-busqueda">
            <input class="search" title="search" type="text" id="search" name="search"
                placeholder="Busque su producto aquí">
            <button id="search" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="enc-navbar">
            <a class="enc-carrito" href="/carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <ul>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button">
                        Cuenta
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/login">Iniciar Sesión</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/register">Registrarse</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/configuracion">Configuración</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">Ayúda</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main class="principal-detalle">
        <section class="productos">
            <article class="item-producto">
                <a href="/detalle-producto">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen categoria">
                    <span class="descripcion">Producto 1</span>
                    <span class="precio">$ 999</span>
                    <p>PUNTUACIÓN</p>
                </a>
                <button class="add-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                <button type="button" class="add-like"><i class="fa-solid fa-heart"></i></button>
            </article>
            <article class="item-producto">
                <a href="/detalle-producto">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen categoria">
                    <span class="descripcion">Producto 2</span>
                    <span class="precio">$ 999</span>
                    <p>PUNTUACIÓN</p>
                </a>
                <button type="button" class="add-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                <button type="button" class="add-like"><i class="fa-solid fa-heart"></i></button>
            </article>
            <article class="item-producto">
                <a href="/detalle-producto">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen categoria">
                    <span class="descripcion">Producto 3</span>
                    <span class="precio">$ 999</span>
                    <p>PUNTUACIÓN</p>
                </a>
                <button class="add-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                <button type="button" class="add-like"><i class="fa-solid fa-heart"></i></button>
            </article>
            <article class="item-producto">
                <a href="/detalle-producto">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen categoria">
                    <span class="descripcion">Producto 3</span>
                    <span class="precio">$ 999</span>
                    <p>PUNTUACIÓN</p>
                </a>
                <button class="add-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                <button type="button" class="add-like"><i class="fa-solid fa-heart"></i></button>
            </article>
        </section>

    </main>

    <footer class="pie">
        <section>
            <div class="pie-item">
                <a href="#">Contactos</a>
            </div>
            <div class="pie-item">
                <a href="#">Términos y condiciones</a>
            </div>
        </section>
        <section>
            <div class="pie-item">
                <a href="#">Sobre nosotros</a>
            </div>
            <div class="pie-item">
                <a href="#">Suscribirme para recibir noticias</a>
            </div>
        </section>
        <div class="copyright">
            <i class="fa-solid fa-copyright"></i>
            <h5>Copyrigth</h5>
        </div>        
    </footer>
</body>

</html>