<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Administrar Productos' , fileCss: 'administrar-productos' })%>
<body>
    <body>
        <%-include('../partials/header')%>
            <main>
                <h3 class="titulo-page">Administrar Productos</h3>
                <div class="acciones">
                    <a href="/productos/registrar">Nuevo Producto</a>
                </div>
                <table>
                    
                </table>
            </main>
        <%-include('../partials/footer')%>
    </body>
</body>
</html>