<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Carrito' , fileCss: 'carrito' })%>

<body>
    <%-include('../partials/header')%>

    <main>
        <section class="section-productos">

            <article class="producto">
                <section class="section-imagen">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen producto">
                </section>
                <section class="section-informacion">
                    <section class="section-precios">
                        <h3 class="nombre-producto">Cerveza Negra</h3>
                        <p class="descripcion-producto">Descripción</p>
                        <p class="precio-producto">$999</p>
                    </section>
                    <div class="opc-add-remov">
                        <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                        <span class="count-cant">2</span>
                        <button class="btn-remove"><i class="fa-solid fa-minus"></i></button>
                    </div>
                    <button class="btn-delete"><i class="fa-solid fa-trash"></i></button>
                </section>
            </article>

            <article class="producto">
                <section class="section-imagen">
                    <img class="img-categ" src="/img/Categoria.jpg" alt="imagen producto">
                </section>
                <section class="section-informacion">
                    <section class="section-precios">
                        <h3 class="nombre-producto">Cerveza Rubia</h3>
                        <p class="descripcion-producto">Descripción</p>
                        <p class="precio-producto">$999</p>
                    </section>
                    <div class="opc-add-remov">
                        <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                        <span class="count-cant">2</span>
                        <button class="btn-remove"><i class="fa-solid fa-minus"></i></button>
                    </div>
                    <button class="btn-delete"><i class="fa-solid fa-trash"></i></button>
                </section>
            </article>
            

        </section>

        <section class="section-comprar">

            <div id="resumen-de-compra">Resumen de Compra</div>

            <div id="lista-carrito">

                <div class="resumen-producto">
                    <span>Cerveza Negra</span>
                    <span>$999</span>
                </div>

                <div class="resumen-producto">
                    <span>Cerveza Rubia</span>
                    <span>$999</span>
                </div>            
            </div>

            <div id="total-comprar">
                <div id="total">Total: $2497</div>
                <button type="submit" id="comprar">Comprar</button>
            </div>

        </section>
    </main>

    <%-include('../partials/footer')%>
</body>

</html>