<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Alta Producto' , fileCss: 'registrar-producto' })%>

    <body>
        <%-include('../partials/header.ejs')%>

            <main>
                <h3 class="titulo-page">Registrar producto.</h3>
                <form class="form-registro" action="/productos/registrar" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <div>
                        <label for="cervecera">Cervecera</label>
                        <input type="text" name="cervecera" id="cervecera">
                    </div>
                    <div>
                        <label for="categoria">Seleccione la categoría</label>
                        <select name="categoria" id="categoria">                            
                            <option value="1">Seleccione</option>
                            <option value="AFRUTADAS">Afrutadas</option>
                            <option value="ALE">Ale</option>
                            <option value="STOUT">Stout</option>
                        </select>
                    </div>
                    <div>
                        <label for="categoria">Seleccione la variedad</label>
                        <select name="variedad" id="variedad">
                            <option value="1">Seleccione</option>
                            <option value="Trapense">Trapense</option>
                            
                        </select>
                    </div>
                    <div>
                        <label for="descripcion">Descripción</label>                    
                        <input type="te" name="descripcion" id="descripcion">
                    </div>
                    <div>
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio">
                    </div>
                    <div>
                        <label for="volumen">Seleccione el volumen</label>
                        <select name="volumen" id="volumen" required>
                            <option value='1'>Seleccione</option>
                            <option value='300'>300ml</option>
                            <option value='500'>500ml</option>
                            <option value='1'>1L</option>
                            <option value='1.5'>1.5L</option>
                            <option value='3'>3L</option>
                        </select>
                    </div>
                    <div>
                        <label for="nacionalidad">Nacionalidad</label>
                        <input type="text" name="nacionalidad" id="nacionalidad">
                    </div>
                    <div>
                        <label for="graduacion">Graduación</label>
                        <input type="number" name="graduacion" id="graduacion">
                    </div>
                    <div>
                        <label for="imagen">Seleccione la imagen del producto</label>
                        <input class="fileIMG" type="file" name="imagen" id="imagen">
                    </div>

                    <div >
                        <button class="submit" type="submit">Registrar</button>                        
                        <a class="btnVolver" href="/productos/administrar">Volver</a>
                    </div>
                </form>
            </main>

            <%-include('../partials/footer.ejs')%>
    </body>

</html>