<header class="encabezado">
    <a class="enc-logo" href="/">
        <img class="logo" src="" alt="Logo-nexoBirrero">
    </a>
    <form action="#" class="enc-busqueda">
        <input class="search" title="search" type="text" id="search" name="search"
            placeholder="Busque su producto aquí">
        <button id="search" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <nav class="enc-navbar">
        <a class="enc-carrito" href="/carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <ul>
            <li class="dropdown">
                <a class="dropdown-toggle" role="button">
                    Cuenta
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/login">Iniciar Sesión</a>
                    </li>
                    <hr>
                    <li>
                        <a href="/register">Registrarse</a>
                    </li>
                    <hr>
                    <li>
                        <a href="/setting">Configuración</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>