<main class="principal-config">
    <section class="menu-lateral">
        <div class="card-user">
            <div class="user-avatar">
                <img class="avatar" src="/img/usuarios/<%= locals.userLogged.avatar %>" alt="avatar usuario">

                <span class="editar-avatar"><a href="/usuario/setting/cambiar-avatar">Cambiar</a></d>
            </div>
            <span class="name-user">
                <%= locals.userLogged.nombre %>
                    <%= locals.userLogged.apellido %>
            </span>
        </div>
        <nav class="opciones">
            <ul>
                <li class="item"><a href="/usuario/setting/cambiar-contrasenia">Cambiar contraseña</a></li>
                <li class="item"><a href="/usuario/setting/cambiar-correo">Cambiar Correo</a></li>
                <li class="item"><a href="#">Cambiar ubicación</a></li>
                <hr>
                <li id="cerrar-sesion" class="item "><a href="/usuario/logout">Cerrar Sesión</a></li>
                <hr>
                <li id="borrar-cuenta" class="item "><a href="">Borrar Cuenta</a></li>
            </ul>
        </nav>
    </section>
</main>