<!DOCTYPE html>
<html lang="en">
    
<!-- Incluimos el head y le pasamos un obj literal con el titulo y el nombre del archivo css -->
<%- include('../partials/head', {title: 'Not Found' , fileCss: 'not-found' , otherCss: false })%>
<body>
    <main>
        <div>
            <h1 class="numero">404</h1>
            <h3>Not Found</h3>
            <p>
                La ruta indicada no pudo ser encontrada.
            </p>
        </div>
    </main>
</body>
</html>