* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* De aqui para abajo, se encuentran los estilos del NavBar */

.navbar {
    padding: 1rem;
    background-color: #353535;
}

.caja-logo-react {
    text-align: center;
    padding: 1rem;
}

.caja-logo-react img {
    width: 40%;
    filter: invert(1);
}

.navbar section {
    display: flex;
    gap: 0.5rem;
    margin: auto;
}



/* De aqui para abajo, se encuentran los estilos de los botones azules */

.navbar section div,
.menuLateral section div {
    background-color: #0096d2;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
}

.navbar section div:hover,
.menuLateral section div:hover {
    background-color: #34bbe9;
}

.react-link {
    text-decoration: none;
    color: white;
}



/* De aqui, para abajo, se encuentran los estilos del inicio */

.container {
    max-width: 100%;
    padding: 0;
}

.container img {
    display: none;
    max-width: 100%;
}

.container h1 {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    padding-top: 10rem;
}



/* De aqui para abajo, se encuentran los estilos del menu lateral (usuarios y productos) */

.menuLateral {
    text-align: center;
    padding: 2rem;
}



/* De aqui, para abajo, se encuentran los estilos de la Tabla */

.table thead {
    max-width: 100%;
}


@media(min-width: 800px) {


    
    /* NavBar */

    .navbar {
        justify-content: space-around;
    }
    
    .caja-logo-react {
        width: 10%;
        padding: 0;
        /*margin-left: 3rem;*/
    }

    .caja-logo-react img {
        margin-bottom: 0;
        width: 100%;
    }

    .navbar section {
        margin: 0;
    }



    /* Body */

    .container {
        overflow: hidden;
        position: relative;
    }

    .container img {
        
        display: block;
    }

    .container h1 {
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-103%, -65%);
        text-shadow: 0 0 8px black;
    }
}



@media(min-width: 1024px) {

    .container h1 {
        font-size: 3rem;
    }
}



@media(min-width: 1024px) {

    .container h1 {
        top: 50%;
        left: 55%;
    }
}