* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inicio {
    text-align: center;
}

/* De aqui, para abajo, se encuentran los estilos del NavBar */

.navbar {
    background-color: #353535;
}

.caja-logo-react {
    text-align: center;
    padding: 1rem;
}

.caja-logo-react img {
    width: 40%;
    margin-bottom: 1rem;
    filter: invert(1);
}

.navbar ul {
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.navbar ul li{
    list-style: none;
}

/* De aqui, para abajo, se encuentran los estilos de la Tabla */



@media(min-width: 768px) {
    
    .caja-logo-react {
        width: 10%;
        margin-left: 3rem;
    }

    .caja-logo-react img {
            margin-bottom: 0%;
            width: 100%;
    }
}