<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el head y le pasamos un obj literal con el titulo y el nombre del archivo css -->
<%-include('../partials/head', {title: 'Recuperar password' , fileCss: 'login' , otherCss: false })%>

    <body>
        <!-- Incluimos el header en el body -->
        <%-include('../partials/header')%> 

            <main>

                <h3 class="titulo-page">Recuperar Contraseña</h3>

                <form class="form-login" action="/usuario/recuperar-password" method="post">

                    <div class="correo">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" name="correo" id="correo" >
                    </div>
                    
                    <button type="submit">Enviar Correo</button>
                </form>

                <h3><a href="/usuario/login">Volver atrás.</a></h3>
            </main>

            <!-- Incluimos el footer a nuestro body -->
            <%- include('../partials/footer')%>
    </body>

</html>